<div mat-dialog-title>
  <h1>Employee Form</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
      <div class="row">
          <mat-form-field appearance="outline">
              <mat-label>User Name</mat-label>
              <input matInput type="text" placeholder="Ex. dimhadi" formControlName="userName">
          </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput type="text" placeholder="Ex. Dimas" formControlName="firstName">
          </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="Ex. Hadianto" formControlName="lastName">
          </mat-form-field>
      </div>

      <div class="row">
          <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="email" placeholder="Ex. dimashadainto@gmail.com" formControlName="email">
          </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label>Date Of Birth</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="dob">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
      </div>

      <div class="row">
          <mat-form-field appearance="outline">
              <mat-label>Status</mat-label>
              <mat-select formControlName="status">
                  <mat-option *ngFor="let val of status" [value]="val">{{val}}</mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label>Group</mat-label>
              <mat-select formControlName="group">
                  <mat-option *ngFor="let val of group" [value]="val">{{val}}</mat-option>
              </mat-select>
          </mat-form-field>
      </div>
      <div class="row">
          <mat-form-field appearance="outline">
              <mat-label>Basic Salary</mat-label>
              <input matInput placeholder="Ex. 4000000" type="number" formControlName="salary">
              <mat-hint>In rupiah</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label>Description Date</mat-label>
              <input matInput [matDatepicker]="descriptionPicker" formControlName="descriptionDate">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="descriptionPicker"></mat-datepicker-toggle>
              <mat-datepicker #descriptionPicker></mat-datepicker>
          </mat-form-field>
      </div>
  </div>
  <div mat-dialog-actions class="action">
      <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
      <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
  </div>
</form>
